---
import Layout from "@/layouts/Layout.astro";
import bg from '@/assets/bg_404.jpg'

---

<Layout
	title="Page not found"
	subtitle="Page not found"
	bgImage={bg.src}
>
	<p class="text-center text-lg">Maybe you wanna go back to the {''} 
		<a href="/" class="text-coffee-600 font-bold">home page</a>
	</p>
</Layout>